*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
   
    
    position: relative;
}

.header{
    display: flex;
    justify-content: space-around;
    gap: 170px;
    margin-top: 40px;
    align-items: center;
    height: 100px;
    

}
hr{
    margin-top: 20px;
    
}



.rectangle{

width: 23.86px;
height: 23.87px;
left: 54.32px;
top: 0px;
background-color: #FF0000;
transform: rotate(43.15deg);
}
.circle{

width: 32.27px;
height: 32.27px;
left: 81.56px;
top: 1.61px;
background: #2461FF;
border-radius: 50%;
}
.logobar{
    display: flex;
    gap: 10px;
    align-items: center;
    transform: translate(-50px);
}
.navbar{
    display: flex;
    gap: 35px;
    align-items: center;
    transform: translate(-15px);
}
a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.getintouch{
    width:  144px;
    height: 44px;
    border-style: groove;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #a282fa;
    
}
.pic1{
width: 507px;
height: 767px;
position: absolute;
right: 0px;
top: -55px;
z-index: -1;

}

.whitediv{
    width: 400px;
    height: 170px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 542px;
}
.pic2{
 width: 365px;
height: 330px;
right: 0px;
top: 580px;
position: absolute;
}
.information{
    width: 570px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 50px;
position: absolute;
left: 80px;
top: 340px;

}
button {
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
  font-size: 19px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #6B37FF 0px;
  text-decoration: none;
  }
  
  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  h1{
    font-family: 'Merriweather', serif;
    font-size: 44px;
    font-weight: 400;

  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
 .redsquare{
position: absolute;
width: 84.71px;
height: 152.76px;
border: 3px solid #F90000;
border-radius: 9px;
transform: rotate(85.45deg);
right: 288px;
top: 265px;
 }
 .elipse{
position: absolute;
width: 106px;
height: 106px;
right: 125px;
top: 660px;
border-radius: 50%;
border: 3px dashed #06B5EC;

 }